
@{
    ViewBag.Title = "Index";
}
<link href="~/StyleNScript/Generals/ExplanationSheet1.css" rel="stylesheet" />
<div>
    <div class="headitem" id="breadCrumbs">

    </div>
    <hr class="hedlineHr" />

</div>
<div id="explan" class="bigContainer" style="margin-bottom:80px;">

</div>
<a id="CreateAbout" class="buttonLink bluebuttonLinkhollow" style="font-size:24px; margin-left:45%; text-align:center;" href="/About/Create/"></a>

<script src="~/StyleNScript/Generals/ExplanationScript.js"></script>
<script src="~/StyleNScript/Generals/PutLinksScript.js"></script>
<script src="~/StyleNScript/Generals/AdminScript.js"></script>
<script>
    var crumbstr = @Html.Raw(Json.Encode(ViewBag.LayoutModel.languages));

    for (var i = 0; i < crumbstr.length; i++) {
        if (crumbstr[i].Content !== "") {
            crumbstr = crumbstr[i];
            if (window.location.href.indexOf("Admin") === -1) {
                putCrumbs(document.getElementById("breadCrumbs"), [{ page: getValueFromDic(crumbstr.Content, "Home"), link: "/Home/" }, { page: getValueFromDic(crumbstr.Content, getControllerName()), link: "#" }]);
            }
            break;
        }
    }
    document.getElementById("CreateAbout").innerHTML = getValueFromDic(crumbstr.Content, "Create");

    aboutArray = @Html.Raw(Json.Encode(Model));

    var expdivs = putExplan(document.getElementById("explan"), aboutArray);

    var buttonlinks = [
        { inner: '<i class="fas fa-times"></i>', class: "buttonLink redbuttonLinkhollow", address: "", hmessage: { message: getValueFromDic(crumbstr.Content, "Delete"), class: "buttonLink redbuttonLinkhollow" }, onmousedown: "" },
        { inner: '<i class="far fa-edit"></i>', class: "buttonLink bluebuttonLinkhollow", address: "#", hmessage: { message: getValueFromDic(crumbstr.Content, "Edit"), class: "buttonLink bluebuttonLinkhollow" }, onmousedown: "" }
    ]
    for (var i = 0; i < expdivs.length; i++) {
        buttonlinks[0].onmousedown = "asyncDelete('/About/Delete/',  { NameOrid: '" + aboutArray[i].idme + "', LangAbr: '" + crumbstr.Abbreviation + "'} , 'imlabdivParent" + i + "')";
        buttonlinks[1].address = "/About/Edit/?id=" + aboutArray[i].idme;
        putlinkss(expdivs[i], (i * 4), buttonlinks, "right", "1px", "-30px");
    }
    window.addEventListener("load", function () {
        for (var i = 0; i < expdivs.length; i++) {
            setHeighttoElems(expdivs[i], [document.getElementById(expdivs[i].id + "-label"), document.getElementById(expdivs[i].id + "-img")]);
        }
    });

    window.addEventListener("resize", function () {
        for (var i = 0; i < expdivs.length; i++) {
            setHeighttoElems(expdivs[i], [document.getElementById(expdivs[i].id + "-label"), document.getElementById(expdivs[i].id + "-img")]);
        }
    });
</script>