
@{
    ViewBag.Title = "Index";
}
<link href="~/StyleNScript/Team/TeamSheet1.css" rel="stylesheet" />


<div class="container" style="margin-bottom: 15%;">
    <h2 id="PageHeadline" class="headitem text-center headlineColor"></h2>
    <div class="" id="breadCrumbs">

    </div>
    <hr class="hedlineHr" />
    <div id="headshots" style="position:relative;">

    </div>
</div>


<script src="~/StyleNScript/Team/TeamScript.js"></script>
<script src="~/StyleNScript/Articles/ArticleScript.js"></script>
<script>
    {
        var crumbstr = @Html.Raw(Json.Encode(ViewBag.LayoutModel.languages));

    for (var i = 0; i < crumbstr.length; i++) {
        if (crumbstr[i].Content !== "") {
            crumbstr = crumbstr[i];

            putCrumbs(document.getElementById("breadCrumbs"), [{ page: getValueFromDic(crumbstr.Content, "Home"), link: "/Home/" }, { page: getValueFromDic(crumbstr.Content, getControllerName()), link: "#" }]);

            break;
        }
        }
        document.getElementById("PageHeadline").innerHTML = getValueFromDic(crumbstr.Content, getControllerName());
    }
    var personel = @Html.Raw(Json.Encode(Model));

    var mydiv = document.getElementById("headshots");
    var epms = [];
    for (var i = 0; i < personel.length; i++) {
        var imgDiv = document.createElement("div");
        imgDiv.className = "imgDiv2";
        imgDiv.setAttribute("onmouseover", "getBig(this," + (i + 40000) + ")");
        imgDiv.setAttribute("onmouseout", "getSmall(this," + (i + 40000) + ")");

        var stockimg = document.createElement("img");
        stockimg.className = "imgMe";
        var srcme = document.createAttribute("src");
        srcme.value = personel[i].ImgUrl;
        stockimg.setAttributeNode(srcme);
        imgDiv.appendChild(stockimg);

        var stockcaption = document.createElement("h4");
        stockcaption.innerHTML = personel[i].Fullname;
        stockcaption.className = "text-center";
        stockcaption.style.marginTop = "10px";
        imgDiv.appendChild(stockcaption);

        var stockcaption2 = document.createElement("h4");
        stockcaption2.innerHTML = personel[i].Job;
        stockcaption2.style.fontSize = "18px";
        stockcaption2.style.fontWeight = "200";
        stockcaption2.className = "text-center";
        imgDiv.appendChild(stockcaption2);

        var divLink = document.createElement("a");
        divLink.style.position = "absolute";
        divLink.id = "divmeTeamlinkssc-" + i;
        var hrme = document.createAttribute("href");
        hrme.value = "/Team/Profileme/?id=" + personel[i].idme;
        divLink.setAttributeNode(hrme);
        //var row = parseInt(i / 3);
        //divLink.style.top = row * 500 + "px";

        //var col = i % 3;
        //divLink.style.left = col * 350 + "px";

        divLink.appendChild(imgDiv);
        mydiv.appendChild(divLink);
        epms.push(divLink);
    }

    window.addEventListener("load", function () {
        centerThese(mydiv, epms);
    });
    window.addEventListener("resize", function () {
        centerThese(mydiv, epms);
    });
</script>